[phases.setup]
nixPkgs = ["nodejs_20", "python311", "python311Packages.pip"]

[phases.install]
cmds = ["npm ci"]

[phases.postInstall]
cmds = ["pip install --user -r forecasting/requirements.txt"]

[start]
cmd = "node server.js"
